.mf-wrap
  .top-row
    .logo
    .tagline
      %p Videos you should have seen
  .middle-row
    .side-nav
      %ul
        %li / The Feeds
        %li
          %a{:href => "#"}
            %span.nav Music
        %li
          %a{:href => "#"}
            %span.nav Food
        %li
          %a{:href => "#"}
            %span.nav Film
        %li
          %a{:href => "#"}
            %span.nav Humor
        %li
          %a{:href => "#"} / Calendars
        %li
          %a{:href => "#"} / About
        %li
          %a{:href => "#"} / Contact
    .feed-content
      .flex-video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "445", :src => "https://www.youtube.com/embed/vW1hv37imjw?rel=0&amp;amp;showinfo=0", :width => "741"}
      .video-info
        %h1 Snow Patrol - Just Say Yes
        %p
          %a{:href => "#"} Music
          \- posted by dwst 2/09/16
      .next-video
        %a.btn{:href => "#"}
          %h2 Random Video
  .bottom-row
    .copyright
      %p
        \/ MISSING FEED / ©2016 | Built by
        %a{:href => "http://www.buywoodrowsell.com"} BuyWoodrowSell
