.header
  .logo
    %h1 MSNGFD
  .info
    %h4 created by
    %a{:href => "http://www.dwst.cc"} DWST
.random_button

.video_wrapper
  .video_content
    %img.ratio{:src => "http://placehold.it/16x9"}/
    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/vW1hv37imjw?rel=0&amp;amp;showinfo=0"}
  .video_foot
    .video_info
      %h1 Snow Patrol - Just Say Yes
