.mf-wrap
  .feed-content
    .flex-video
      %img.ratio{:src => "http://placehold.it/16x9"}/
      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/vW1hv37imjw?rel=0&amp;amp;showinfo=0"}
    .video-foot
      .video-info
        %h1 Snow Patrol - Just Say Yes
