.header
  display: inline-block
  +clearfix
  .header_info
    display: inline
    .logo
      font:
        size: 3em
        family: $square
      color: $red
    .info
  .random_button
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    a
      width: 100%
      padding: 10px 0
      background-color: $red
      color: $white
      border-radius: 8px
      transition: all .4s ease-in-out
      font:
        size: 1em
        family: $square
        weight: 400
      &:hover
        background-color: transparentize($red, .2)

.video_wrapper
  +outer-container(75%)
  height: 100%
  margin: 0 auto
  .video_content
    position: relative
    .ratio
      display: block
      width: 100%
      height: auto
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .video_foot
    .video_info
      margin-top: 10px
      h1
        font:
          weight: 400
          size: 1.5em
          family: $round
        text-transform: capitalize
