//.index
  display: none
.header
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row
  width: 95%
  margin: 10px auto 20px auto
  .logo
    a
      //text-align: left
      font:
        size: 1em
        family: $square
      color: $red
    h1
      margin-bottom: 0
  .info
    display: flex
    justify-content: center
    align-items: center
    h4
      margin-bottom: 0
      font-size: .6em
      padding-right: 5px
      @media only screen and (max-width: 600px)
        display: none
    span
      font-size: .7em
      text-transform: uppercase
      @media only screen and (max-width: 600px)
        font-size: .5em
      a
        color: $black
        font:
          family: $square
          weight: 700
        letter-spacing: .1em
        &:hover
          color: $red
.mobile_container
  display: flex
  justify-content: center
  align-items: center
  min-height: 80vh
  .video_wrapper
    +outer-container(75%)
    height: 100%
    margin: 0 auto
    .video_content
      position: relative
      .ratio
        display: block
        width: 100%
        height: auto
      iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .video_foot
      .video_info
        padding: 10px
        background: $black
        margin-bottom: 20px
        h1
          font:
            weight: 400
            size: 1.5em
            family: $round
          text-transform: capitalize
          margin-bottom: 0
          color: $white
          display: inline
          @media only screen and (max-width: 800px)
            font-size: 1em
          @media only screen and (max-width: 600px)
            font-size: .8em
      .random_button
        text-align: center
        a
          width: 100%
          padding: 10px 60px
          background-color: $red
          color: $white
          border-radius: 8px
          transition: all .4s ease-in-out
          font:
            size: .8sem
            family: $round
            weight: 400
          &:hover
            background-color: transparentize($red, .2)
