.sidebar
  .sidebar_position
    .logo
      %a{:href => "/"}
        %h1 MSNGFD
        %h4 music videos missing from your life
    .next-video
      %a.btn{:href => "#"}
        %h2
          %i.fa.fa-play
    .foot
      %h5 created by
      %h6
        %a{:href => "http://www.buywoodrowsell.com", :target => "_blank"} Buy &middot; Woodrow &middot; Sell
