<!DOCTYPE html>
<html>
<head>
  <title>/ Missingfeed /</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.typekit.net/qfy3awl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
